<div class="container" style="margin-top: 100px; margin-bottom: 20px">
  <div class="container">
    <h2 class="header" style="padding-bottom: 10px">MySuccess: About Us</h2>
    <div class="row card">
      <img class="card-img-top" />
      <div class="col-sm card-header bg-light mb-3">
        <h3 class="sub-header">Introduction</h3>
        <p>
          MySuccess is a web application designed to help people create positive
          life-changing habits and achieve their goals by maintaining a daily
          routine. The app will provide users with a simple and intuitive
          interface to set daily, monthly, and yearly goals and track their
          progress towards achieving them.
          <br />
          <br />
          The main feature of the app is its ability to help users build
          positive habits. MySuccess will encourage users to create a daily
          routine that includes activities that they want to incorporate into
          their lives. These activities can include exercise, meditation,
          reading, or any other positive habit that the user wants to build.
        </p>
      </div>
      <div class="col-md card-body bg-light mb-3">
        <h3 class="sub-header">How do we help?</h3>
        <p>
          At MySuccess, we believe that success is not just a destination; it is
          a journey fueled by consistent and positive habits. Our mission is to
          empower individuals like you to unlock your true potential and achieve
          your goals through effective habit tracking and routine management.
          <br />
          <br />
          Life is a series of moments, and the habits we cultivate shape our
          days, months, and years. Whether you're striving for personal growth,
          professional excellence, or a healthier lifestyle, maintaining a good
          routine is essential. However, we understand that building and
          sustaining positive habits can be challenging in today's fast-paced
          world. That's where MySuccess comes in to support you every step of
          the way.
          <br />
          <br />
          Our platform is designed to make habit tracking simple, engaging, and
          rewarding. We provide you with the tools and resources you need to
          create a personalized routine that aligns with your aspirations and
          values. By embracing the power of habit, you can turn your goals into
          lasting achievements.
        </p>
      </div>
      <div class="col-md card-footer bg-light mb-3">
        <h3 class="sub-header">Project Lead & Developer: Aodhan O'Brien</h3>
        <div class="col-sm-12">
          <img
            class="center"
            src="assets\me.jpg"
            class="card-img-"
            height="230"
            alt="Picture of Aodhan O'Brien"
            style="float: right; padding: 20px"
          />
        </div>
        <p style="padding: 20px">
          Name: Aodhan O'Brien <br />
          University: Ulster University <br />
          Course: Software Engineering<br />
          <br />
          Company: Version 1 <br />
          Job: Application Consultant<br />
        </p>

        <p>
          <br />
          My intention in creating this project is to help people create
          positive life-changing habits by maintaining a daily routine. It has
          been proven in many studies that having a routine has a positive
          effect not only on day-to-day life but also has a major positive
          effect on mental health.
        </p>
      </div>
    </div>
  </div>
</div>
