<div class="container" style="margin-top: 70px;">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="card-header">
                    <p>Welcome Back</p>
                </div>
                <div class="card-footer" style = "background: #f4f4f4; border: 1px solid #dcdcdc;">
                    <p>This is where the routine calendar will go
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>