<div class="container" style="margin-top: 100px">
  <h2 class="header">Habits: Start your Success here!</h2>

  <div class="row">
    <button
      class="btn btn-success"
      style="margin-left: 15px; margin-bottom: 5px"
      routerLink="/add-habit"
    >
      Add New Habit
    </button>
  </div>

  <div class="button-container">
    <button
      (click)="sortByPriority()"
      class="btn btn-secondary btn-sm"
      style="margin: 2px"
    >
      Sort by Priority
    </button>
    <button
      (click)="sortByNewest()"
      class="btn btn-secondary btn-sm"
      style="margin: 2px"
    >
      Sort by Newest
    </button>
  </div>

  <div class="container" style="margin-top: 20px; margin-bottom: 20px">
    <!--List habits-->
    <div class="row">
      <div class="col-sm-12">
        <div *ngFor="let habit of habit_list | async">
          <div
            class="card text-white bg-info mb-3"
            style="cursor: pointer"
            [routerLink]="['/habits', habit._id]"
          >
            <div class="card-header">
              Title:
              {{ habit.title }}
            </div>
            <div class="card-body">
              Habit:
              {{ habit.habit }}
            </div>
            <div class="card-footer">
              Priority:
              {{ habit.priority }}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <button class="btn btn-primary" (click)="previousPage()">
          Previous
        </button>
      </div>

      <div class="col-sm-6">
        <button
          class="btn btn-primary"
          style="float: right"
          (click)="nextPage()"
        >
          Next
        </button>
      </div>
    </div>
  </div>
</div>
