@import '../node_modules/@syncfusion/ej2-material-theme/styles/material.css';

.header {
    font-size: 15px;
    text-decoration: right;
    font-weight: 600;
    background-image: linear-gradient(to left, #113b7a, #398ddb);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
  }

.center {
    border: 5px solid;
    text-align: center;
  }